<div class="mb-10 flex gap-x-2">
  <p-dropdown
    [options]="years"
    [(ngModel)]="selectedYear"
    (ngModelChange)="fetchTransactionsByDateRange()"
    placeholder="Select a year"
  ></p-dropdown>
  <p-dropdown
    [options]="months"
    [(ngModel)]="selectedMonth"
    (ngModelChange)="fetchTransactionsByDateRange()"
    placeholder="Select a month"
  ></p-dropdown>
</div>

<div class="mb-10 flex gap-x-4">
  <div>
    <h2>Distribution</h2>
    <transactions-distribution-chart></transactions-distribution-chart>
  </div>
  <div>
    <h2>Spendings</h2>
    <transactions-spendings-chart></transactions-spendings-chart>
  </div>
  </div>
  
  <!-- <transactions-monthly-spend-chart [monthlySpendData]="monthlySpendData"></transactions-monthly-spend-chart> -->
<p-table
  [value]="transactions"
  [scrollable]="true"
  scrollHeight="500px"
  styleClass="p-datatable-sm"
>
  <ng-template pTemplate="header">
    <tr>
      <!-- <th>User</th> -->
      <th>Account Name</th>
      <th>Date</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Verified</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transaction>
    <tr>
      <!-- <td>{{ transaction.user_id }}</td> -->
      <td>{{ transaction.account.name }}</td>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.name }}</td>
      <td>{{ transaction.amount | currency: transaction.currency_code }}</td>
      <td>{{ transaction.category | categoryDisplay }}</td>
      <td class="flex justify-center">
        <i [class]="getVerificationIcon(transaction)"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
