<h1>Credits</h1>
<ul>
    <li>Error middleware from <a class="underline" href="https://medium.com/@xiaominghu19922/proper-error-handling-in-express-server-with-typescript-8cd4ffb67188">Medium</a></li>
    <li>Plaid inspiration and api snippets from <a class="underline" href="https://github.com/plaid/tutorial-resources">Plaid Demo</a></li>
    <li>Info on Angular guards from <a class="underline" href="https://medium.com/@hish.abdelshafouk/route-guards-in-angular-c9da0d815ef4">Medium</a></li>
    <li>Deployment info courtesy of Cho Yin Yong</li>
</ul>
