<h1>Subscriptions</h1>

<p-toast></p-toast>

<div *ngIf="isLoading" class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
	<p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="!isLoading">
	<h2>Accepted Subscriptions</h2>
	<p-table [value]="acceptedSubscriptions" [scrollable]="true" scrollHeight="400px">
		<ng-template pTemplate="header">
			<tr>
				<th>Merchant</th>
				<th>Cost</th>
				<th>Frequency</th>
				<th>Day/Month</th>
				<th>Actions</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-subscription>
			<tr>
				<td>{{ subscription.name }}</td>
				<td>{{ subscription.amount | currency }}</td>
				<td>{{ subscription.frequency }}</td>
				<td>
					<ng-container *ngIf="subscription.frequency === 'MONTHLY'">
						{{ subscription.dayOfMonth }}
					</ng-container>
					<ng-container *ngIf="subscription.frequency === 'ANNUALLY'">
						{{ subscription.month }}
					</ng-container>
				</td>
				<td>
					<button pButton icon="pi pi-trash" class="p-button-danger" (click)="deleteSubscription(subscription.id)"></button>
					<button pButton icon="pi pi-cog" class="p-button-primary" (click)="showNotificationSettings(subscription)"></button>
				</td>
			</tr>
		</ng-template>
	</p-table>

	<h2>Pending Subscriptions</h2>
	<p-table [value]="pendingSubscriptions" [scrollable]="true" scrollHeight="400px">
		<ng-template pTemplate="header">
			<tr>
				<th>Merchant</th>
				<th>Cost</th>
				<th>Frequency</th>
				<th>Day/Month</th>
				<th>Actions</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-subscription>
			<tr>
				<td>{{ subscription.name }}</td>
				<td>{{ subscription.amount | currency }}</td>
				<td>{{ subscription.frequency }}</td>
				<td>
					<ng-container *ngIf="subscription.frequency === 'MONTHLY'">
						{{ subscription.dayOfMonth }}
					</ng-container>
					<ng-container *ngIf="subscription.frequency === 'ANNUALLY'">
						{{ subscription.month }}
					</ng-container>
				</td>
				<td>
					<button pButton icon="pi pi-check" class="p-button-success" (click)="acceptSubscription(subscription)"></button>
					<button pButton icon="pi pi-trash" class="p-button-danger" (click)="deleteSubscription(subscription.id)"></button>
				</td>
			</tr>
		</ng-template>
	</p-table>

	<h2>Removed Subscriptions</h2>
	<p-table [value]="removedSubscriptions" [scrollable]="true" scrollHeight="400px">
		<ng-template pTemplate="header">
			<tr>
				<th>Merchant</th>
				<th>Cost</th>
				<th>Frequency</th>
				<th>Day/Month</th>
				<th>Actions</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-subscription>
			<tr>
				<td>{{ subscription.name }}</td>
				<td>{{ subscription.amount | currency }}</td>
				<td>{{ subscription.frequency }}</td>
				<td>
					<ng-container *ngIf="subscription.frequency === 'MONTHLY'">
						{{ subscription.dayOfMonth }}
					</ng-container>
					<ng-container *ngIf="subscription.frequency === 'ANNUALLY'">
						{{ subscription.month }}
					</ng-container>
				</td>
				<td>
					<button pButton icon="pi pi-refresh" class="p-button-success" (click)="restoreSubscription(subscription.id)"></button>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>