<h1>Your Dashboard</h1>
<div class="container mx-auto max-w-6xl rounded-lg p-4">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <!-- Accounts Section -->
    <div
      class="accounts-section border-1 rounded-lg border-solid border-gray-300 p-4"
    >
      <div class="header mb-4 flex items-center justify-between">
        <h3 class="text-lg font-bold">Accounts</h3>
        <p-dropdown
          *ngIf="banks.length > 0"
          [options]="banks"
          [(ngModel)]="selectedBankId"
          (onChange)="onBankChange($event)"
        >
        </p-dropdown>
      </div>

      <div class="account-list custom-scrollbar max-h-80 overflow-y-scroll">
        <div
          *ngFor="let account of accounts"
          class="account-item border-b border-gray-200 p-2"
        >
          <div class="account-info">
            <p class="font-semibold">{{ account.name }}</p>
            <p>Balance: {{ account.balances.current | currency }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="banks.length === 0">No banks to display...</div>

      <div class="footer mt-4 text-right">
        <a
          class="flex cursor-pointer items-center justify-end uppercase text-blue-500"
          (click)="navigateToAccounts($event)"
        >
          See all accounts
          <i class="pi pi-angle-right ml-2"></i>
        </a>
      </div>
    </div>

    <!-- Recent Transactions Section -->
    <div
      class="transactions-section border-1 rounded-lg border-solid border-gray-300 p-4"
    >
      <h3 class="mb-4 text-lg font-bold">Recent Transactions</h3>
      <div class="transaction-list custom-scrollbar max-h-80 overflow-y-scroll">
        <div
          *ngFor="let transaction of recentTransactions"
          class="transaction-item border-b border-gray-200 p-2"
        >
          <div class="transaction-info flex justify-between">
            <div>
              <p class="font-semibold">{{ transaction.name }}</p>
              <p>{{ transaction.date }}</p>
            </div>
            <div>
              <p
                [ngClass]="{
                  'text-red-500': transaction.amount > 0,
                  'text-green-500': transaction.amount < 0,
                }"
              >
                <i *ngIf="transaction.amount >= 0" class="pi pi-arrow-down"></i>
                <i *ngIf="transaction.amount < 0" class="pi pi-arrow-up"></i>
                {{ getFormattedAmount(transaction.amount) }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer mt-4 text-right">
        <a
          class="flex cursor-pointer items-center justify-end uppercase text-blue-500"
          (click)="navigateToTransactions($event)"
        >
          See all transactions
          <i class="pi pi-angle-right ml-2"></i>
        </a>
      </div>
    </div>

    <!-- Distribution of Spend This Month Section -->
    <div
      class="distribution-section border-1 rounded-lg border-solid border-gray-300 p-4"
    >
      <h3 class="mb-4 text-lg font-bold">Distribution of Spend This Month</h3>
      <transactions-distribution-chart></transactions-distribution-chart>
    </div>

    <!-- Annual Spend Chart Section -->
    <div
      class="annual-spend-section border-1 rounded-lg border-solid border-gray-300 p-4"
    >
      <h3 class="mb-4 text-lg font-bold">Annual Spend Chart</h3>
      <transactions-annual-spendings-chart
        [year]="currentYear"
      ></transactions-annual-spendings-chart>
    </div>
  </div>
</div>
