<div class="container mx-auto p-4 border border-gray-300 rounded-lg max-w-md">
  <div class="header flex justify-between items-center mb-4">
    <h3 class="text-lg font-bold">Accounts</h3>
    <p-dropdown 
      [options]="banks" 
      [(ngModel)]="selectedBankId" 
      (onChange)="onBankChange($event)">
    </p-dropdown>
  </div>
  
  <div class="account-list max-h-80 overflow-y-scroll custom-scrollbar">
    <div *ngFor="let account of accounts" class="account-item p-2 border-b border-gray-200">
      <div class="account-info">
        <p class="font-semibold">{{ account.name }}</p>
        <p>Balance: {{ account.balances.current | currency }}</p>
      </div>
    </div>
  </div>
  
    <div class="footer mt-4 text-right">
    <a 
      class="text-blue-500 flex items-center justify-end uppercase cursor-pointer" 
      (click)="navigateToAccounts($event)"
    >
      See all accounts
      <i class="pi pi-angle-right ml-2"></i>
    </a>
  </div>
</div>
