<h1>Your Dashboard</h1>
<div class="container mx-auto p-4 rounded-lg max-w-6xl">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Accounts Section -->
    <div class="accounts-section p-4 border-1 border-solid border-gray-300 rounded-lg">
      <div class="header flex justify-between items-center mb-4">
        <h3 class="text-lg font-bold">Accounts</h3>
        <p-dropdown 
          *ngIf="banks.length > 0"
          [options]="banks" 
          [(ngModel)]="selectedBankId" 
          (onChange)="onBankChange($event)">
        </p-dropdown>
      </div>
      
      <div class="account-list max-h-80 overflow-y-scroll custom-scrollbar">
        <div *ngFor="let account of accounts" class="account-item p-2 border-b border-gray-200">
          <div class="account-info">
            <p class="font-semibold">{{ account.name }}</p>
            <p>Balance: {{ account.balances.current | currency }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="banks.length === 0">No banks to display...</div>

      <div class="footer mt-4 text-right">
        <a 
          class="text-blue-500 flex items-center justify-end uppercase cursor-pointer" 
          (click)="navigateToAccounts($event)">
          See all accounts
          <i class="pi pi-angle-right ml-2"></i>
        </a>
      </div> 
    </div>

    <!-- Recent Transactions Section -->
    <div class="transactions-section p-4 border-1 border-solid border-gray-300 rounded-lg">
      <h3 class="text-lg font-bold mb-4">Recent Transactions</h3>
      <div class="transaction-list max-h-80 overflow-y-scroll custom-scrollbar">
        <div *ngFor="let transaction of recentTransactions" class="transaction-item p-2 border-b border-gray-200">
          <div class="transaction-info flex justify-between">
            <div>
              <p class="font-semibold">{{ transaction.name }}</p>
              <p>{{ transaction.date }}</p>
            </div>
            <div>
              <p [ngClass]="{
                'text-red-500': transaction.amount > 0,
                'text-green-500': transaction.amount < 0
              }">
                <i *ngIf="transaction.amount >= 0" class="pi pi-arrow-down"></i>
                <i *ngIf="transaction.amount < 0" class="pi pi-arrow-up"></i>
                {{ getFormattedAmount(transaction.amount) }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer mt-4 text-right">
        <a 
          class="text-blue-500 flex items-center justify-end uppercase cursor-pointer" 
          (click)="navigateToTransactions($event)">
          See all transactions
          <i class="pi pi-angle-right ml-2"></i>
        </a>
      </div>
    </div>

    <!-- Distribution of Spend This Month Section -->
    <div class="distribution-section p-4 border-1 border-solid border-gray-300 rounded-lg">
      <h3 class="text-lg font-bold mb-4">Distribution of Spend This Month</h3>
      <transactions-distribution-chart></transactions-distribution-chart>
    </div>

    <!-- Annual Spend Chart Section -->
    <div class="annual-spend-section p-4 border-1 border-solid border-gray-300 rounded-lg">
      <h3 class="text-lg font-bold mb-4">Annual Spend Chart</h3>
      <transactions-annual-spendings-chart [year]="currentYear"></transactions-annual-spendings-chart>
    </div>
  </div>
</div>
